@tailwind base;
@tailwind components;
@tailwind utilities;

.foo{ 
    max-width:none;
    height: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'Mono';
    src: url('./assets/fonts/MonoRegular.woff2') format('woff2');
    /* You can include additional font formats (e.g., woff, ttf) as needed */
    font-weight: normal;
    font-style: normal;
  }

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
